<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-4">
    <img src="<%= @mobile_phone.avatar %>" alt="..." class="img-thumbnail">
  </div>
  <div class="col-sm-8">
    <div class="card" style="margin-bottom: 20px;">
      <div class="card-body">
        <h4 class="card-title"><%= @mobile_phone.name %></h4>
        <p class="card-text"><%= @mobile_phone.description %></p>
      </div>
    </div>
  </div>
</div>
